{% extends "base.html" %}

{% block head %}
<style>
    .nav {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
    }
    .container{
        max-width: 450px;
        margin: 60px auto;
        padding: 35px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.08);
        
    }
    .logout-btn{
        padding: 12px 22px;
        background: transparent;
        color: black;
        border: 1px solid black;
        border-radius: 980px;
        font-size: 17px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .logout-btn:hover{
        background: black;
        color:white;
    }
    .form-control{
        border-radius: 20px;
        border-color: black;
        text-align: center;
        padding: 5px;
        display: list-item;
    }
    .but{
        margin: 10px;
        border-width: 2px;
        padding: 12px 22px;
        border: 1px solid black;
        border-radius: 980px;
    }
    ul{
        display: flex;
        list-style:none;
        gap:3px
    }
    ul a:hover{
        color:rgb(8, 145, 236);
    }
</style>
{% endblock %}
{% block nav %}
<a href="/company_dashboard">Home</a>
<a href="/company_dashboard/drives">Drives</a>
<a href="/company_dashboard/applications">Applications</a>
<ul class="nav">
    <li><a href="/company_dashboard/profile">Hi, {{ company_user.name }}</a></li>
    <li><button  class="logout-btn"onclick="location.href='/logout' ">Logout</button></li>
</ul>
{% endblock %}


{% block content %}

<div class="container">
    <h1>Update profile</h1>
    <p style="color: red;">Note: password can't be changed</p>
    <form action="/company_dashboard/profile" method="POST">
    <div class="mb-3">
        <label > Company name</label>
        <input type="text" name="name" value="{{ company_user.name }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label > Username</label>
        <input type="text" name="username" value="{{ company_user.user.username }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label >Email</label>
        <input type="email" name="email" value="{{ company_user.user.email }}"class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Hr Name</label>
        <input type="text" name="hr_name"  value="{{ company_user.hr_name }}"class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Hr Contact</label>
        <input type="number" name="hr_contact"value="{{ company_user.hr_contact }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Webiste</label>
        <input type="url" name="website"value="{{ company_user.website }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Location</label>
        <input type="text" name="location" value="{{ company_user.location }}"class="form-control" required>
    </div>

    <button type="submit" class="but">Update</button>
</form>
</div>



{% endblock %}